.right-column {
  overflow: hidden;
  float: right;
  width: 33.333%;
}

.left-column {
  overflow: hidden;
  width: 66.666%;
    background-color: #F0F0F5;
}

.gutter {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
