.gutter {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.left-column {
  overflow: hidden;
  width: 66.666%;
    background-color: #E8F4F9;
}

.right-column {
  overflow: hidden;
  float: right;
  width: 33.333%;
}

.sprite {
    display: block;
    width 256px;
    height: 402px;
    background-image: transparent url(../images/rappel-sprite-01.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: pink;
}

.sprite:hover {
    background-position: 0 -402px;
}

